@font-face {
  font-family: 'pfdindisplaypro';
  src: url('/public/fonts/pfdindisplaypro-reg.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfdindisplaypro';
  src: url('/public/fonts/pfdindisplaypro-bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'pfdindisplaypro-light';
  src: url('/public/fonts/pfdindisplaypro-light.ttf');
  font-weight: normal;
  font-style: normal;
}
//Franklin Gothic Medium Cond Regular
@font-face {
  font-family: 'Franklin';
  src: url('/public/fonts/Franklin.ttf');
  font-weight: bold;
  font-style: normal;
}